<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实货明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/basicSetting.css" media="all">
    <link rel="stylesheet" href="../js/layui/css/layui.css" media="all">
    <link href="../css/style-Permutation5.css?v=20221212172846000" type="text/css" rel="stylesheet">
    <link href="../css/A-P5.css?v=20221212172846000" type="text/css" rel="stylesheet">
    <style>
        td {
            border: 1px solid #a4d4f9 !important;
            padding: 4px;
            outline: none;
        }

        th {
            border: 1px solid #a4d4f9 !important;
        }

        .t-1 tbody td {
            line-height: 22px;
        }

        .layui-table-tool {
            position: relative;
            z-index: 890;
            width: 100%;
            min-height: 30px;
            line-height: 30px;
            padding: 5px 15px;
            border-width: 0 0 1px;
        }

        .layui-table-tool-self {
            display: none;
        }

        .layui-table, .layui-table-view {
            margin: 0px 0;
        }

        .layui-select {
            width: 110px;
        }

        .layui-table-cell {
            height: auto;
            overflow: visible;
            text-overflow: inherit;
            white-space: normal;
            line-height: 20px !important;
        }

        tbody tr:hover, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
            background-color: #d8f8104a !important;
        }

        .layui-table thead tr th {
            font-size: 14px;
            color: black;
            padding: 8px 0 8px 0 !important;
        }

        .layui-table tbody tr td {
            padding: 5px 0 5px 0 !important;
            color: black;
            font-size: 12px;
        }

        .t-1 tbody tr {
            background-color: white !important;
        }

    </style>
</head>
<body style="font: 12px Arial, Helvetica, sans-serif;overflow-y: auto">
<div id="main">
    <template>
        <div class="module">
            <div name="module" id="out_detail" class="m5 mt10">
                <div name="module" id="guide_handicap" class="guide">
                    <div class="fl">
                        <a href="#!online_account" i18n="shipan.menu.position">位置 </a>&gt;&gt;
                        <span class="red" i18n="shipan.menu.shiHuoDetail">   实货明细  </span>
                    </div>
                    <div class="fr">
                        <a href="outPan.html" class="" i18n="shipan.menu.outPan">《出货盘</a> |
                        <a href="outDetail.html" class="" i18n="shipan.menu.outDetail">出货明细</a> |
                        <a href="winOutDetail.html" class="" i18n="shipan.menu.winOutDetail">出货中奖明细</a> |
                        <a href="javascript:void(0)" class="fn-out" onclick="popChild(1)" i18n="shipan.menu.chuhuo">出货</a> |
                        <a href="outImport.html" class="" i18n="shipan.menu.outImport">出货导入</a> |
                        <a href="download.html" class="" i18n="shipan.menu.download">下载》</a> |
                        <a href="shiHuoDetail.html" class="fb red" i18n="shipan.menu.shiHuoDetail">实货明细</a> |
                        <a href="shiHuoZhongJiang.html" class="" i18n="shipan.menu.shiHuoZhongJiang">中奖明细</a> |
                        <a href="shiPan-3d.html" class="" i18n="shipan.menu.shiPan">实盘</a>|
                        <!--                    <a href="baopai_shipan.html" class="" i18n="shipan.menu.baopai.shipan">包牌实盘</a> |-->
                        <a href="xupan-3d.html" class="" i18n="shipan.menu.xupan">虚盘</a>
                    </div>
                </div>
                <div class="mt10">
                    <form novalidate="novalidate">
                        <table class="t-1">
                            <thead>
                            <tr class="bg1">
                                <td colspan="18"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="40" i18n="shipan.query.account">查账号</td>
                                <td width="80">
                                    <input type="text" class="w90" name="member_account" id="member_account" value="">
                                </td>
                                <td width="40" i18n="shipan.query.codes">查号码</td>
                                <td width="80">
                                    <input type="text" class="w90" name="bet_no" id="bet_no" maxlength="4" betno="true">
                                </td>
                                <!--<td width="15" i18n="shipan.query.xian">现</td>
                                <td width="10">
                                    <input type="checkbox" name="show_xian" id="show_xian" value="1">
                                </td>-->
                                <td width="30" i18n="shipan.query.list">列出</td>
                                <td width="60">
                                    <select name="range_type" id="range_type">
                                        <option value="0">{{$t('odds')}}</option>
                                        <option value="1">{{$t('money')}}</option>
                                        <option value="2">{{$t('decode')}}</option>
                                    </select>
                                </td>
                                <td width="60">
                                    <input type="text" class="w60" name="range_min" id="range_min" nonnegative="true"
                                           maxlength="10">
                                </td>
                                <td width="15" i18n="shipan.query.to">至</td>
                                <td width="60">
                                    <input type="text" class="w60" name="range_max" id="range_max" positive="true"
                                           maxlength="10">
                                </td>
                                <td width="30" i18n="shipan.query.classify">分类</td>
                                <td width="60">
                                    <select name="category" id="category">
                                        <option value="">{{$t('all')}}</option>
                                        <option value="a">直选</option>
                                        <option value="19">&nbsp;&nbsp;普通</option>
                                        <option value="20">&nbsp;&nbsp;和值</option>
                                        <option value="b">组三</option>
                                        <option value="21">&nbsp;&nbsp;普通</option>
                                        <option value="22">&nbsp;&nbsp;胆拖</option>
                                        <option value="23">&nbsp;&nbsp;和值</option>
                                        <option value="c">组六</option>
                                        <option value="24">&nbsp;&nbsp;普通</option>
                                        <option value="25">&nbsp;&nbsp;胆拖</option>
                                        <option value="26">&nbsp;&nbsp;和值</option>
                                        <option value="d">1D</option>
                                        <option value="13">&nbsp;&nbsp;1D</option>
                                        <option value="14">&nbsp;&nbsp;猜1D</option>
                                        <option value="e">2D</option>
                                        <option value="15">&nbsp;&nbsp;2D</option>
                                        <option value="16">&nbsp;&nbsp;猜2D</option>
                                        <option value="f">包选</option>
                                        <option value="17">&nbsp;&nbsp;包选三</option>
                                        <option value="18">&nbsp;&nbsp;包选六</option>
                                        <option value="g">和数</option>
                                        <option value="27">&nbsp;&nbsp;0/27</option>
                                        <option value="28">&nbsp;&nbsp;1/26</option>
                                        <option value="29">&nbsp;&nbsp;2/25</option>
                                        <option value="30">&nbsp;&nbsp;3/24</option>
                                        <option value="31">&nbsp;&nbsp;4/23</option>
                                        <option value="32">&nbsp;&nbsp;5/22</option>
                                        <option value="33">&nbsp;&nbsp;6/21</option>
                                        <option value="34">&nbsp;&nbsp;7/20</option>
                                        <option value="35">&nbsp;&nbsp;8/19</option>
                                        <option value="36">&nbsp;&nbsp;9/18</option>
                                        <option value="37">&nbsp;&nbsp;10/17</option>
                                        <option value="38">&nbsp;&nbsp;11/16</option>
                                        <option value="39">&nbsp;&nbsp;12/15</option>
                                        <option value="40">&nbsp;&nbsp;13/14</option>
                                        <option value="2">通选</option>
                                        <option value="9">大小</option>
                                        <option value="10">奇偶</option>
                                        <option value="11">猜三同</option>
                                        <option value="12">拖拉机</option>
                                    </select>
                                </td>
                                <!--<td width="30" i18n="shipan.query.select.type">类型</td>
                                <td width="60">
                                    <select name="package_id" id="package_id">
                                        <option value="">{{$t('all')}}</option>
                                        <option value="1">{{$t('looseBill')}}</option>
                                        <option value="2">{{$t('package')}}</option>
                                    </select>
                                </td>-->
                                <td width="30">
                                    <input type="hidden" id="iswin" name="iswin" value="">
                                    <input type="button" value="提交" class="btn" @click="submitQuery(1)" i18n="shipan.submit">
                                </td>
                                <td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="mt10 div_print">
                    <table class="t-1">
                        <thead>
                        <tr class="bg1">
                            <td colspan="2" i18n="shipan.table.shiHuoZhongJiangDetail">实货中奖明细</td>
                            <td colspan="10">
                                <select class="w110" name="company" id="company" @change="changeCompany()">
                                    <option value="">{{$t('all')}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="w110" name="draw" id="draw" @change="changeDrawId()"></select>
                            </td>
                        </tr>
                        <tr class="bg2">
                            <td width="10%" i18n="shipan.table.noteNo">注单编号</td>
                            <td width="8%" i18n="shipan.table.member">会员</td>
                            <td width="10%" i18n="shipan.table.orderTime">下单时间</td>
                            <td width="5%" i18n="shipan.number">号码</td>
                            <td width="7%" i18n="shipan.table.bet.amount">下注金额</td>
                            <td width="5%" i18n="shipan.table.accounted">占成</td>
                            <td width="6%" i18n="shipan.table.actual.amount">实货金额</td>
                            <td width="6%" i18n="shipan.odds">赔率</td>
                            <td width="5%" i18n="shipan.table.backwater">回水</td>
                            <td width="9%" i18n="shipan.table.winning">中奖</td>
                            <td width="9%" i18n="shipan.table.profit.loss">盈亏</td>
                            <td width="9%" i18n="shipan.table.director.odds">总监赔率</td>
                            <td width="19%">下注说明</td>
                        </tr>
                        </thead>
                        <tbody id="tbody" class="fn-hover" v-if="dataList.length>0">
                        <tr v-for="data in dataList" :class="[data.backCodeFlag==1?'red bg4':'']">
                            <td>{{data.printId}}</td>
                            <td>{{data.vipName}}</td>
                            <td>{{data.createTime}}</td>
                            <td class="fb" v-if="data.hasOneFlag == 1"> {{data.buyCodes}}{{$t('xian')}}</td>
                            <td class="fb" v-else>{{data.buyCodes}}</td>
                            <td class="fb">{{data.buyMoney}}</td>
                            <td>{{data.zhanCheng}}</td>
                            <td>{{data.shMoney}}</td>
                            <td>{{data.param3}}</td>
                            <td>{{data.downLineHuiShui}}</td>
                            <td v-if="data.drawMoney == 0 || data.drawMoney == null || data.drawMoney == ''">--</td>
                            <td v-else>{{data.drawMoney}}</td>
                            <td>{{data.shProfitLoss}}</td>
                            <td>{{data.selfPeiRate}}</td>
                            <td>{{data.huizongName}}</td>
                        </tr>
                        <tr class="tfoot">
                            <td colspan="2" class="tc fb">{{$t('heji')}}</td>
                            <td class="fb">{{total}}</td>
                            <td></td>
                            <td class="fb">{{totalAmount}}</td>
                            <td></td>
                            <td class="fb">{{totalShAmount}}</td>
                            <td></td>
                            <td class="fb">{{totalReturnWater}}</td>
                            <td class="fb">{{totalDrawAmount}}</td>
                            <td class="fb">{{totalProfitLoss}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <td colspan="13">
                            {{$t('noData')}}
                        </td>
                        </tbody>
                    </table>
                </div>
                <div name="module" id="pager" class="pager" action="log" pagebody="tbody" template="tpl_refresh"
                     pagecount="1" param="pageSize=40">
                    <span i18n="shipan.page.no">第</span> <span class="pageindex red">{{currentPage}}</span> <span i18n="shipan.page.page">页</span>&nbsp;
                    <span i18n="shipan.page.total">共</span> <span class="pagecount red">{{countPage}}</span> <span i18n="shipan.page.page">页</span>&nbsp;
                    <span i18n="shipan.page.total">共</span> <span class="recordcount red">{{count}}</span> <span i18n="shipan.page.count">条</span>
                    <a class="fn-first shou" @click="firstPage()" style="cursor:pointer;" i18n="shipan.page.firstPage">首页</a>
                    <a class="fn-prev shou" @click="prePage()" style="cursor:pointer;" i18n="shipan.page.prePage">上一页</a>
                    <a class="fn-next shou" @click="nextPage()" style="cursor:pointer;" i18n="shipan.page.nextPage">下一页</a>
                    <a class="fn-last shou" @click="lastPage()" style="cursor:pointer;" i18n="shipan.page.lastPage">尾页</a>
                    <input type="number" class="input w50 fn-index" v-model="inputPage">
                    <input type="button" class="btn btn-gray w30 fn-go shou" value="GO" @click="go()">
                </div>
            </div>
        </div>
        <div name="module" id="footer" class="footer">
            <div class="bd"></div>
        </div>
    </template>
</div>
<script src="../js/jquery/jquery.min.js"></script>
<script src="../js/layui/layui.js"></script>
<script src="../js/layui/layui.all.js"></script>
<script src="../js/token.js"></script>
<script src="../js/config.js"></script>
<script src="../js/vue/vue.js"></script>
<script src="../js/vue/vue-i18n.js"></script>
<script src="../js/jquery.i18n.min.js"></script>
<script src="../js/multi_lang_config.js"></script>
<script type="text/javascript" language="javascript">

    const messages = {
        zh: {
            odds:"赔率",
            money:"金额",
            decode:"退码",
            all:"全部",
            oneFixed:"一定位",
            twoFixed:"二定位",
            threeFixed:"三定位",
            fourFixed:"四定位",
            twoShow:"二字现",
            threeShow:"三字现",
            fourShow:"四字现",
            looseBill:"散单",
            batch:"批量",
            package:"包牌",
            noData:"暂无数据!",
            heji:"合计",
            xian:"现",
        },
        th: {
            odds:"อัตราต่อรอง",
            money:"จำนวนเงิน",
            decode:"ยกเลิกการเดิมพัน",
            all:"ทั้งหมด",
            oneFixed:"ตำแหน่งแน่นอนที่หนึ่ง",
            twoFixed:"ตำแหน่งแน่นอนที่สอง",
            threeFixed:"ตำแหน่งแน่นอนที่สาม",
            fourFixed:"ตำแหน่งแน่นอนที่สี่",
            twoShow:"เดิมพันสองตัวพิเศษ",
            threeShow:"เดิมพันสามตัวพิเศษ",
            fourShow:"สี่ตัวแสดงผล",
            looseBill:"เลขเดียว",
            batch:"ชุด",
            package:"การซื้อเดิมพันทั้งหมด",
            noData:"ไม่มีข้อมูล!",
            heji:"รวม",
            xian:"เงินสด",
        }
    }

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var a = decodeURI(window.location.search);
        var r = a.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
        if (r != null) return unescape(r[2]);
        return null;
    }

    var moduleName = "shipan";
    var defaultLang = layui.data('langTab').langType;
    const i18n = new VueI18n({
        locale: defaultLang, // set locale
        messages, // set locale messages
    });
    initLangConfig({
        defaultLang:defaultLang,
        filePath: "../js/i18n/"+moduleName+"/",
        module:moduleName,
        base:"../js/"
    })
    var i18np = null;
    function changeLang(lang) {
        defaultLang = lang;
        reloadI18n({
            defaultLang:lang,
            filePath: "../js/i18n/"+moduleName+"/",
            module:moduleName,
        })
        i18np.loadProperties(moduleName);
        i18n.locale=lang;
    }

    layui.config({base: '../js/'})
        // 继承treetable.js插件
        .extend({i18np: 'i18n'}).use([ 'i18np','jquery'], function () {
        i18np = layui.i18np;
        reloadI18n({
            defaultLang:defaultLang,
            filePath: "../js/i18n/"+moduleName+"/",
            module:moduleName,
        })
        i18np.loadProperties(moduleName);

        vm.initData(1);
    });

    var $ = layui.jquery;
    $(function () {
        var flag = GetQueryString("userDetail")
        if (flag == 1) {
            $("#top").hide();
            $("#downLoad").hide();
            $("#btnPrint").hide();
        }
    })

    function popChild(tag) {
        layer.open({
            type: 2,
            // title: '出货',
            title:i18np.prop("shipan.menu.chuhuo"),
            content: 'kuaida.html',
            area: ['80%', '650px']
        })
    }

    const vm = new Vue({
        el: '#main',
        i18n,
        data: {
            dataList: [],
            count: 0,        //总条数
            countPage: 1,    //总页数
            currentPage: 1,  //当前页数
            inputPage: '',   //文本框输入页数
            total: "",
            totalAmount: "",
            totalDrawAmount: "",
            totalShAmount: "",
            totalProfitLoss: "",
            totalReturnWater: "",
            username: "",
            buyCodes: "",
            xianFlag: 0,
            lieType: 0,
            start: "",
            end: "",
            lotterySettingType: "",
            buyType: "",
            drawId: "",
            companyId: "",
        },
        methods: {
            initData(page) {
                const _this = this;
                $.ajax({
                    url: HOST + "draw/getDrawList68",
                    success: function (res) {
                        if (res.code == 200) {
                            for (var i in res.data) {
                                $("#draw").append("<option value='" + res.data[i].drawId + "'>" + res.data[i].drawIdStr + "</option>")
                            }
                        }
                    }
                });
                $.ajax({
                    url:HOST+"company/selectListCompany" ,
                    success:function(res){
                        if(res.code == 0) {
                            // $("#company").append("<option value='' i18n='shipan.whole'>全部</option>");
                            // $("#company").append("<option value=''>"+i18np.prop("shipan.whole")+"</option>");
                            // $("#company").append("<option value=''>"+_this.$t("all")+"</option>");
                            for(var i in res.data) {
                                $("#company").append("<option value='"+res.data[i].id+"'>"+res.data[i].companyName+"</option>")
                            }
                        }
                    }
                });
                this.initDataList(page);
            },
            initDataList(page) {
                const _this = this;
                layer.msg(i18np.prop('shipan.msg.data.loading'),{
                    time:-1,
                    icon:16,
                    shade:0.3
                })
                $.ajax({
                    url: HOST + 'shiHuo/shiHuoDetailList',
                    type: "get",
                    data: {
                        page: page,
                        username: _this.username,
                        buyCodes: _this.buyCodes,
                        //xianFlag: _this.xianFlag,
                        lieType: _this.lieType,
                        start: _this.start,
                        end: _this.end,
                        lotterySettingType: _this.lotterySettingType,
                        //buyType: _this.buyType,
                        drawId: _this.drawId,
                        companyId: _this.companyId
                    },
                    success: function (res) {
                        layer.closeAll();
                        if (res.code == 0) {
                            _this.dataList = res.data.dataList
                            _this.total = res.data.total
                            _this.totalAmount = res.data.totalAmount
                            _this.totalDrawAmount = res.data.totalDrawAmount
                            _this.totalShAmount = res.data.totalShAmount
                            _this.totalProfitLoss = res.data.totalProfitLoss
                            _this.totalReturnWater = res.data.totalReturnWater
                            _this.count = res.count;
                            _this.currentPage = page;
                            let pageNum = res.count % 40 == 0 ? parseInt(res.count / 40) : Math.ceil(res.count / 40);
                            _this.countPage = pageNum;
                        }
                    }
                });
            },
            submitQuery(page) {
                this.username = $("#member_account").val();
                this.buyCodes = $("#bet_no").val();
                const isXian = $("input[name='show_xian']").prop("checked");
                if (isXian) {
                    this.xianFlag = 1;
                } else {
                    this.xianFlag = 0;
                }
                this.lieType = $("#range_type").val();
                this.start = $("#range_min").val();
                this.end = $("#range_max").val();
                this.lotterySettingType = $("#category").val();
                this.buyType = $("#package_id").val();
                this.drawId = $("#draw").val();
                this.companyId = $("#company").val();
                this.initDataList(page);
            },
            firstPage() {
                if (this.currentPage != 1) {
                    if (this.select == 2) {
                        this.initData(1);
                    } else {
                        this.submitQuery(1);
                    }
                }
            },
            prePage() {
                if (this.currentPage != 1) {
                    if (this.select == 2) {
                        this.initData(this.currentPage * 1 - 1);
                    } else {
                        this.submitQuery(this.currentPage * 1 - 1);
                    }
                }
            },
            nextPage() {
                if (this.currentPage * 1 < this.countPage * 1) {
                    if (this.select == 2) {
                        this.initData(this.currentPage * 1 + 1);
                    } else {
                        this.submitQuery(this.currentPage * 1 + 1);
                    }
                }
            },
            lastPage() {
                if (this.currentPage * 1 < this.countPage * 1) {
                    if (this.select == 2) {
                        this.initData(this.countPage);
                    } else {
                        this.submitQuery(this.countPage);
                    }
                }
            },
            go() {
                if (this.inputPage == null || this.inputPage == "" || this.inputPage == undefined) {
                    // layer.msg("请输入页数！")
                    layer.msg(i18np.prop("shipan.page.msg.inputPageNo"));
                    return false;
                }
                if (this.currentPage * 1 == this.inputPage * 1) {
                    console.log("当前页不查询");
                    // layer.msg(i18np.prop("shipan.msg.currentPage.notQuery"));
                } else if (this.inputPage * 1 < 1 || this.inputPage * 1 > this.countPage * 1) {
                    if (this.select == 2) {
                        this.initData(1);
                    } else {
                        this.submitQuery(1);
                    }
                } else {
                    if (this.select == 2) {
                        this.initData(this.inputPage);
                    } else {
                        this.submitQuery(this.inputPage);
                    }
                }
            },
            changeDrawId() {
                this.username = $("#member_account").val();
                this.buyCodes = $("#bet_no").val();
                const isXian = $("input[name='show_xian']").prop("checked");
                if (isXian) {
                    this.xianFlag = 1;
                } else {
                    this.xianFlag = 0;
                }
                this.lieType = $("#range_type").val();
                this.start = $("#range_min").val();
                this.end = $("#range_max").val();
                this.lotterySettingType = $("#category").val();
                this.buyType = $("#package_id").val();
                this.drawId = $("#draw").val();
                this.companyId = $("#company").val();
                this.initDataList(1);
            },
            changeCompany() {
                this.username = $("#member_account").val();
                this.buyCodes = $("#bet_no").val();
                const isXian = $("input[name='show_xian']").prop("checked");
                if (isXian) {
                    this.xianFlag = 1;
                } else {
                    this.xianFlag = 0;
                }
                this.lieType = $("#range_type").val();
                this.start = $("#range_min").val();
                this.end = $("#range_max").val();
                this.lotterySettingType = $("#category").val();
                this.buyType = $("#package_id").val();
                this.drawId = $("#draw").val();
                this.companyId = $("#company").val();
                this.initDataList(1);
            }
        }
    });
    // vm.initData(1);
</script>
</body>
</html>