<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上下分记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/basicSetting.css" media="all">
    <link rel="stylesheet" href="../js/layui/css/layui.css" media="all">
    <link href="../css/style-Permutation5.css?v=20221212172846000" type="text/css" rel="stylesheet">
    <link href="../css/A-P5.css?v=20221212172846000" type="text/css" rel="stylesheet">
</head>
<body style="font: 12px Arial, Helvetica, sans-serif;overflow-y: auto">
<div id="main">
    <template>
        <div class="module">
            <div name="module" id="out_detail" class="m5 mt10">
                <div class="guide" id="top">
                    <div class="fl">
                        <a href="#!online_account" i18n="zh.top.location">位置 </a>&gt;&gt;
                        <span class="red"> 上下分记录   </span>
                    </div>
                    <div class="fr">
                        <a href="pointsRecord.html" class="fb red">下注记录</a>
                    </div>
                </div>
                <div class="mt10">
                    <form novalidate="novalidate">
                        <table class="t-1">
                            <thead>
                            <tr class="bg1">
                                <td colspan="13"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="40">查玩家</td>
                                <td width="80">
                                    <input type="text" class="w90" name="member_account" id="member_account" value="">
                                </td>
                                <td width="60">查机器人</td>
                                <td width="80">
                                    <input type="text" class="w90" name="bot_account" id="bot_account" value="">
                                </td>
                                <td width="60">操作类型</td>
                                <td width="60">
                                    <select name="opType" id="opType">
                                        <option value="">全部</option>
                                        <option value="0">上分</option>
                                        <option value="1">下分</option>
                                    </select>
                                </td>
                                <td width="60">申请时间</td>
                                <td width="60">
                                    <input type="text" id="start_date" name="start_date" autocomplete="off" class="w120">
                                </td>
                                <td width="15" i18n="zh.query.to">至</td>
                                <td width="60">
                                    <input type="text" id="end_date" name="end_date" autocomplete="off" class="w120">
                                </td>
                                <td width="60">
                                    <input type="hidden" id="iswin" name="iswin" value="">
                                    <button type="button" class="btn" @click="submitQuery(1)" i18n="zh.btn.submit" style="cursor: pointer;">提交</button>
                                </td>
                                <td>
                                </td>
                                <td width="30">
                                    <!--<a href="#!backups_detail.backups_detail|backups_detail?backup_type=1">下载</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="mt10 div_print">
                    <table class="t-1">
                        <thead>
                        <tr class="bg1">
                            <td colspan="2">下注记录(红色为退码)</td>
                            <td colspan="5">
                            </td>
                        </tr>
                        <tr class="bg2">
                            <td width="10%">玩家</td>
                            <td width="8%">所属机器人</td>
                            <td width="5%">操作类型</td>
                            <td width="10%">金额</td>
                            <td width="10%">申请时间</td>
                            <td width="10%">审批时间</td>
                            <td width="5%">审核状态</td>
                        </tr>
                        </thead>
                        <tbody id="tbody" class="fn-hover" v-if="dataList.length>0">
                        <tr v-for="data in dataList">
                            <td>{{data.playerName}}</td>
                            <td>{{data.botName}}</td>
                            <td class="fb" v-if="data.optType == 1">下分</td>
                            <td class="fb" v-else><span style="color: blue">上分</span></td>
                            <td>{{data.points}}</td>
                            <td>{{data.applyTime}}</td>
                            <td>{{data.authTime}}</td>
                            <td v-if="data.authStatus == 0"><span style="color: orange">待审核</span></td>
                            <td v-else-if="data.authStatus == 1"><span style="color: green">同意</span></td>
                            <td v-else-if="data.authStatus == 2"><span style="color: red">拒绝</span></td>
                            <td v-else>删除</td>
                        </tr>
                        <tr class="tfoot">
                            <td colspan="2" class="tc fb">{{$t('total')}}</td>
                            <td class="fb">{{total}}</td>
                            <td></td>
                            <td class="fb">{{totalAmount}}</td>
                            <td></td>
                            <td class="fb">{{totalDrawAmount}}</td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <td colspan="13">
                            {{$t('notData')}}
                        </td>
                        </tbody>
                    </table>
                </div>
                <div name="module" id="pager" class="pager" action="log" pagebody="tbody" template="tpl_refresh"
                     pagecount="1" param="pageSize=40">
                    <span i18n="zh.page.no">第</span>
                    <span class="pageindex red">{{currentPage}}</span>
                    <span i18n="zh.page.page">页</span>&nbsp;
                    <span i18n="zh.page.total">共</span>
                    <span class="pagecount red">{{countPage}}</span>
                    <span i18n="zh.page.page">页</span>&nbsp;
                    <span i18n="zh.page.total">共</span>
                    <span class="recordcount red">{{count}}</span>
                    <span i18n="zh.page.count">条</span>
                    <a class="fn-first shou" @click="firstPage()" style="cursor:pointer;" i18n="zh.page.firstPage">首页</a>
                    <a class="fn-prev shou" @click="prePage()" style="cursor:pointer;" i18n="zh.page.prePage">上一页</a>
                    <a class="fn-next shou" @click="nextPage()" style="cursor:pointer;" i18n="zh.page.nextPage">下一页</a>
                    <a class="fn-last shou" @click="lastPage()" style="cursor:pointer;" i18n="zh.page.lastPage">尾页</a>
                    <input type="number" class="input w50 fn-index" v-model="inputPage">
                    <input type="button" class="btn btn-gray w30 fn-go shou" value="GO" @click="go()">
                </div>
            </div>
        </div>
    </template>
</div>
<script src="../js/jquery/jquery.min.js"></script>
<script src="../js/layui/layui.all.js"></script>
<script src="../js/token.js"></script>
<script src="../js/config.js"></script>
<script src="../js/vue/vue.js"></script>
<script src="../js/vue/vue-i18n.js"></script>
<script src="../js/jquery.i18n.min.js"></script>
<script src="../js/multi_lang_config.js"></script>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var a = decodeURI(window.location.search);
        var r = a.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
        if (r != null) return unescape(r[2]);
        return null;
    }

    const messages = {
        zh: {
            odds:"赔率",
            money:"金额",
            decode:"退码",
            all:"全部",
            oneFixed:"一定位",
            twoFixed:"二定位",
            threeFixed:"三定位",
            fourFixed:"四定位",
            twoShow:"二字现",
            threeShow:"三字现",
            fourShow:"四字现",
            quickHit:"快打",
            quickSelect:"快选",
            txtImport:"txt导入",
            ed:"二定",
            summary:"汇总表",
            bulkCargo:"散货",
            package:"包牌",
            total:"合计",
            notData:"暂无数据!",
            tui:"退",
            xian:"现",
            dataLoading:"数据加载中...",
        },
        th: {
            odds:"อัตราต่อรอง",
            money:"จำนวนเงิน",
            decode:"ยกเลิกการเดิมพัน",
            all:"ทั้งหมด",
            oneFixed:"ตำแหน่งแน่นอนที่หนึ่ง",
            twoFixed:"ตำแหน่งแน่นอนที่สอง",
            threeFixed:"ตำแหน่งแน่นอนที่สาม",
            fourFixed:"ตำแหน่งแน่นอนที่สี่",
            twoShow:"เดิมพันสองตัวพิเศษ",
            threeShow:"เดิมพันสามตัวพิเศษ",
            fourShow:"สี่ตัวแสดงผล",
            quickHit:"เล่นเร็ว",
            quickSelect:"เลือกเร็ว",
            txtImport:"นำเข้าไฟล์ txt",
            ed:"เลือกตำแหน่งคงที่ 2",
            summary:"สรุปผล",
            bulkCargo:"สินค้าประเภทกระจาย",
            package:"การซื้อเดิมพันทั้งหมด",
            total:"รวม",
            notData:"ไม่มีข้อมูล!",
            tui:"การคืนเงิน",
            xian:"เอ็กซ์เบอร์",
            dataLoading:"กำลังโหลดข้อมูล...",
        }
    }

    var moduleName = "zongHuo";
    var defaultLang = layui.data('langTab').langType;
    const i18n = new VueI18n({
        locale: defaultLang, // set locale
        messages,
    });
    var i18np=null
    layui.config(
        {base: '../js/'})
        .extend({i18np: 'i18n'})
        .use([ 'i18np'], function () {
            i18np = layui.i18np;
            reloadI18n({
                defaultLang:defaultLang,
                filePath: "../js/i18n/"+moduleName+"/",
                module:moduleName,
            })
            i18np.loadProperties(moduleName);
            vm.initData(1);
        })

    initLangConfig({
        defaultLang:defaultLang,
        filePath: "../js/i18n/"+moduleName+"/",
        module:moduleName,
        base:"../js/"
    })

    function changeLang(lang){
        reloadI18n({
            defaultLang:lang,
            filePath: "../js/i18n/"+moduleName+"/",
            module:moduleName,
        })
        i18np.loadProperties(moduleName);
        i18n.locale=lang;
        // vm.getCompany();
        vm.initData(1);
    }

    const vm = new Vue({
        el: '#main',
        i18n,
        data: {
            dataList: [],
            count: 0,        //总条数
            countPage: 1,    //总页数
            currentPage: 1,  //当前页数
            inputPage: '',   //文本框输入页数
            total: "",
            totalAmount: "",
            username: "",
            start: "",
            end: "",
            userId: "",
            botName: "",
            opType: "",
        },
        methods: {
            initData(page) {
                this.userId = GetQueryString("userId");
                this.initDataList(page);
            },
            initDataList(page) {
                const _this = this;
                _this.start = $("#start_date").val();
                _this.end = $("#end_date").val();
                layer.msg(_this.$t('dataLoading'),{
                    time:-1,
                    icon:16,
                    shade:0.3
                })
                $.ajax({
                    url: HOST+'admin/playerPointsRecord/listPage',
                    type: "get",
                    data: {
                        page: page,
                        playerName: _this.username,
                        start: _this.start,
                        end: _this.end,
                        userId: _this.userId,
                        botName: _this.botName,
                        opType: _this.opType,
                    },
                    success: function (res) {
                        layer.closeAll();
                        if (res.code == 0) {
                            _this.dataList = res.data.dataList
                            _this.total = res.data.total
                            _this.totalAmount = res.data.totalAmount
                            _this.count = res.count;
                            _this.currentPage = page;
                            let pageNum = res.count % 40 == 0 ? parseInt(res.count / 40) : Math.ceil(res.count / 40);
                            _this.countPage = pageNum;
                        }
                    },
                    error: function (res) {
                        layer.closeAll();
                    }
                });
            },
            submitQuery(page) {
                this.username = $("#member_account").val();
                this.start = $("#start_date").val();
                this.end = $("#end_date").val();
                this.opType = $("#opType").val();
                this.botName = $("#bot_account").val();
                this.initDataList(page);
            },
            firstPage() {
                if (this.currentPage != 1) {
                    if (this.select == 2) {
                        this.initData(1);
                    } else {
                        this.submitQuery(1);
                    }
                }
            },
            prePage() {
                if (this.currentPage != 1) {
                    if (this.select == 2) {
                        this.initData(this.currentPage * 1 - 1);
                    } else {
                        this.submitQuery(this.currentPage * 1 - 1);
                    }
                }
            },
            nextPage() {
                if (this.currentPage * 1 < this.countPage * 1) {
                    if (this.select == 2) {
                        this.initData(this.currentPage * 1 + 1);
                    } else {
                        this.submitQuery(this.currentPage * 1 + 1);
                    }
                }
            },
            lastPage() {
                if (this.currentPage * 1 < this.countPage * 1) {
                    if (this.select == 2) {
                        this.initData(this.countPage);
                    } else {
                        this.submitQuery(this.countPage);
                    }
                }
            },
            go() {
                if (this.inputPage == null || this.inputPage == "" || this.inputPage == undefined) {
                    layer.msg(i18np.prop("zh.page.msg.inputPageNo"))
                    return false;
                }
                if (this.currentPage * 1 == this.inputPage * 1) {
                    console.log("当前页不查询");
                } else if (this.inputPage * 1 < 1 || this.inputPage * 1 > this.countPage * 1) {
                    if (this.select == 2) {
                        this.initData(1);
                    } else {
                        this.submitQuery(1);
                    }
                } else {
                    if (this.select == 2) {
                        this.initData(this.inputPage);
                    } else {
                        this.submitQuery(this.inputPage);
                    }
                }
            },
            changeDrawId() {
                this.username = $("#member_account").val();
                this.buyCodes = $("#bet_no").val();
                const isXian = $("input[name='show_xian']").prop("checked");
                if (isXian) {
                    this.xianFlag = 1;
                } else {
                    this.xianFlag = 0;
                }
                this.lieType = $("#range_type").val();
                this.start = $("#range_min").val();
                this.end = $("#range_max").val();
                this.lotterySettingType = $("#category").val();
                this.buyType = $("#package_id").val();
                this.drawId = $("#draw").val();
                this.companyId = $("#company").val();
                this.initDataList(1);
            },
            changeCompany() {
                this.username = $("#member_account").val();
                this.buyCodes = $("#bet_no").val();
                const isXian = $("input[name='show_xian']").prop("checked");
                if (isXian) {
                    this.xianFlag = 1;
                } else {
                    this.xianFlag = 0;
                }
                this.lieType = $("#range_type").val();
                this.start = $("#range_min").val();
                this.end = $("#range_max").val();
                this.lotterySettingType = $("#category").val();
                this.buyType = $("#package_id").val();
                this.drawId = $("#draw").val();
                this.companyId = $("#company").val();
                this.initDataList(1);
            },
            print() {
                var d = $("#draw").val();
                window.open('printZonghuo.html?drawId=' + d);
            }
        }
    });
    // vm.initData(1);

</script>
<script>
    layui.use(['form' , 'jquery','laydate'], function(){
        var $ = layui.jquery;
        let weekStartDate = getWeek(0, 0); //本周开始日期
        let weekEndDate = getWeek(0, 1); // 本周结束日期
        //getWeek(1, 0) // 获取下周开始日期
        //getWeek(1, 1) // 获取下周结束日期

        function getWeek(n, type) { // 周
            let now = new Date()
            let day = now.getDay() //返回星期几的某一天;
            if (!type) {
                if (n == 1) {
                    let dayNumber = day == 0 ? 0 : 7 - day
                    now.setDate(now.getDate() + dayNumber + 1)
                } else if (n == -1) {
                    let dayNumber = day == 0 ? 6 : day - 1
                    now.setDate(now.getDate() - dayNumber - 7)
                } else {
                    let dayNumber = day == 0 ? 6 : day - 1
                    now.setDate(now.getDate() - dayNumber)
                }
            } else {
                if (n == 1) {
                    let dayNumber = day == 0 ? 0 : 7 - day
                    now.setDate(now.getDate() + dayNumber + 1 + 6) // 在周开始的日期上+6天=周结束
                } else if (n == -1) {
                    let dayNumber = day == 0 ? 6 : day - 1
                    now.setDate(now.getDate() - dayNumber - 7 + 6)
                } else {
                    let dayNumber = day == 0 ? 0 : 7 - day
                    now.setDate(now.getDate() + dayNumber)
                }
            }
            let date = now.getDate()
            let month = now.getMonth() + 1

            let s = now.getFullYear() + '-' + (month < 10 ? '0' + month : month) + '-' + (date < 10 ? '0' + date : date)
            return s
        }

        $("#last_week").on('click', function () {
            let preWeekStartDate = getWeek(-1, 0) // 上周开始日期
            let preWeekEngDate = getWeek(-1, 1) // 上周结束日期
            $("#end_date").val(preWeekEngDate);
            $("#start_date").val(preWeekStartDate);
            $("#weekFlag").val(0);
        })

        $("#this_week").on('click', function () {
            $("#end_date").val(weekEndDate);
            $("#start_date").val(weekStartDate);
            $("#weekFlag").val(1);
        })

        const laydate = layui.laydate;
        const endDate= laydate.render({
            elem: '#end_date',//选择器结束时间
            type: 'date',
            value: weekEndDate,
            done: function(value,date){
                startDate.config.max={
                    year:date.year,
                    month:date.month-1,//关键
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                }
            }
        });
        //日期范围
        const startDate=laydate.render({
            elem: '#start_date',
            type: 'date',
            value: weekStartDate,
            done: function(value, date){
                endDate.config.min ={
                    year:date.year,
                    month:date.month-1, //关键
                    date: date.date,
                    hours: 0,
                    minutes: 0,
                    seconds : 0
                };
            }
        });
    });
</script>
</body>
</html>
